<div id="reading" class="row">
  {{#each this}}
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{meaning}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{card-name card}}</h6>
        <p class="card-text">{{card-desc card}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>